myenv/
Datasets/en-es/europarl-v7.es-en.en
Datasets/en-es/europarl-v7.es-en.es
Datasets/en-it/europarl-v7.it-en.en
Datasets/en-it/europarl-v7.it-en.it
CopyPreprocessing.ipynb
*.pt
checkpoints/lr_0.0001/epoch_3_BLEU_0.0017035831787580768_train_loss_3.76_val_loss_3.67.pth
checkpoints/lr_0.0001/epoch_2_BLEU_0.0029733939055755303_train_loss_4.13_val_loss_3.98.pth
checkpoints/lr_0.0001/epoch_1_BLEU_0.07173863523261874_train_loss_4.98_val_loss_4.39.pth
checkpoints/lr_0.0001/epoch_0_BLEU_0.010723132790029438_train_loss_5.34_val_loss_5.07.pth
checkpoints/50000_dataset_lr_0.0001/epoch_4_BLEU_0.062078724794866744_train_loss_2.13_val_loss_1.97.pth
checkpoints/50000_dataset_lr_0.0001/epoch_3_BLEU_0.19813882691239795_train_loss_2.01_val_loss_2.31.pth
checkpoints/50000_dataset_lr_0.0001/epoch_2_BLEU_0.1924031370811976_train_loss_2.99_val_loss_2.79.pth
checkpoints/50000_dataset_lr_0.0001/epoch_1_BLEU_0.05434116111194909_train_loss_4.0_val_loss_3.53.pth
checkpoints/50000_dataset_lr_0.0001/epoch_0_BLEU_0.0802677696685591_train_loss_4.67_val_loss_4.46.pth
checkpoints/lr_0.0001/epoch_4_BLEU_0.019278550054012484_train_loss_3.3_val_loss_3.41.pth
checkpoints/lr_0.0001/epoch_5_BLEU_0.02326202131305739_train_loss_2.85_val_loss_3.17.pth
en_es_checkpoints/lr_0.0001/epoch_0_train_loss_4.89_val_loss_4.62.pth
en_es_checkpoints/lr_0.0001/epoch_1_train_loss_4.02_val_loss_4.03.pth
en_es_checkpoints/lr_0.0001/epoch_2_train_loss_3.5_val_loss_3.63.pth
en_es_checkpoints/lr_0.0001/epoch_3_train_loss_3.34_val_loss_3.26.pth
en_es_checkpoints/lr_0.0001/epoch_4_train_loss_2.9_val_loss_2.97.pth
en_es_checkpoints/lr_0.0001/epoch_5_train_loss_2.4_val_loss_2.76.pth
en_es_checkpoints/lr_0.0001/epoch_6_train_loss_2.14_val_loss_2.61.pth
en_es_checkpoints/lr_0.0001/epoch_7_train_loss_2.04_val_loss_2.47.pth
en_es_checkpoints/lr_0.0001/epoch_8_train_loss_1.78_val_loss_2.37.pth
en_es_checkpoints/lr_0.0001/epoch_9_train_loss_1.45_val_loss_2.28.pth
en_es_checkpoints/lr_0.001/epoch_0_train_loss_4.96_val_loss_4.79.pth
en_es_checkpoints/lr_0.001/epoch_1_train_loss_4.52_val_loss_4.41.pth
en_es_checkpoints/lr_0.001/epoch_2_train_loss_4.29_val_loss_4.15.pth
en_es_checkpoints/lr_0.001/epoch_3_train_loss_4.09_val_loss_3.94.pth
en_es_checkpoints/lr_0.001/epoch_4_train_loss_3.96_val_loss_3.77.pth
en_es_checkpoints/lr_0.001/epoch_5_train_loss_3.84_val_loss_3.61.pth
en_es_checkpoints/lr_0.001/epoch_6_train_loss_2.9_val_loss_3.42.pth
en_es_checkpoints/lr_0.001/epoch_7_train_loss_2.34_val_loss_3.27.pth
en_es_checkpoints/lr_0.001/epoch_8_train_loss_2.19_val_loss_3.15.pth
en_es_checkpoints/lr_0.001/epoch_9_train_loss_1.52_val_loss_3.09.pth
en_it_checkpoints/lr_0.0001/epoch_0_train_loss_5.23_val_loss_5.13.pth
en_it_checkpoints/lr_0.0001/epoch_1_train_loss_4.35_val_loss_4.4.pth
en_it_checkpoints/lr_0.0001/epoch_2_train_loss_3.79_val_loss_3.93.pth
en_it_checkpoints/lr_0.0001/epoch_3_train_loss_3.88_val_loss_3.55.pth
en_it_checkpoints/lr_0.0001/epoch_4_train_loss_3.16_val_loss_3.25.pth
en_it_checkpoints/lr_0.0001/epoch_5_train_loss_2.78_val_loss_3.01.pth
en_it_checkpoints/lr_0.0001/epoch_6_train_loss_2.51_val_loss_2.8.pth
en_it_checkpoints/lr_0.0001/epoch_7_train_loss_2.15_val_loss_2.68.pth
en_it_checkpoints/lr_0.0001/epoch_8_train_loss_1.86_val_loss_2.59.pth
en_it_checkpoints/lr_0.0001/epoch_9_train_loss_1.5_val_loss_2.52.pth
en_it_checkpoints/lr_0.001/epoch_0_train_loss_5.23_val_loss_5.19.pth
en_it_checkpoints/lr_0.001/epoch_1_train_loss_4.89_val_loss_4.73.pth
en_it_checkpoints/lr_0.001/epoch_2_train_loss_4.43_val_loss_4.41.pth
en_it_checkpoints/lr_0.001/epoch_3_train_loss_4.37_val_loss_4.22.pth
en_it_checkpoints/lr_0.001/epoch_4_train_loss_3.96_val_loss_4.08.pth
en_it_checkpoints/lr_0.001/epoch_5_train_loss_3.79_val_loss_3.94.pth
en_it_checkpoints/lr_0.001/epoch_6_train_loss_3.38_val_loss_3.78.pth
en_it_checkpoints/lr_0.001/epoch_7_train_loss_2.9_val_loss_3.7.pth
en_it_checkpoints/lr_0.001/epoch_8_train_loss_2.43_val_loss_3.62.pth
en_it_checkpoints/lr_0.001/epoch_9_train_loss_2.37_val_loss_3.57.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_0_train_loss_4.9_val_loss_4.33.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_1_train_loss_3.6_val_loss_3.43.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_2_train_loss_3.51_val_loss_2.86.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_3_train_loss_2.75_val_loss_2.51.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_4_train_loss_2.55_val_loss_2.28.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_5_train_loss_2.52_val_loss_2.13.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_6_train_loss_2.0_val_loss_2.01.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_7_train_loss_1.34_val_loss_1.91.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_8_train_loss_1.09_val_loss_1.89.pth
fine_tuned_en_es_checkpoints/lr_0.0001/epoch_9_train_loss_0.88_val_loss_1.83.pth
